name: Publish to Maven Central

on:
  push:
    tags:
      - 'v*' # runs when you push a tag like v0.1.0

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: Build & deploy
        run: mvn -B clean deploy -DskipTests

      - name: Close & release staging repository
        uses: nexus-actions/release-nexus-staging@v1.2.0
        with:
          username: ${{ secrets.MAVEN_USERNAME }}
          password: ${{ secrets.MAVEN_PASSWORD }}
          staging_profile_id: ${{ secrets.SONATYPE_PROFILE_ID }}